@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Truffler Sample <small>Examples illustrating usage of the Truffler .NET Client API</small></h1>
</div>

<div class="row">
    <div class="span10">
        <p>This project illustrates a number of ways to use the <a href="http://www.truffler.net">Truffler</a> .NET Client API to build great search functionality. 
        It uses a read-only indexed populated with information about a number of famous restaurants all over the world.</p>
        <p>Styling using <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
    </div>
    <div class="span4"></div>
</div>